<%- include('partials/head') %>
<%- include('partials/nav') %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <link rel=StyleSheet href="./stylesheets/style.css" type="text/css">

    <title>OTJ Log</title>
  </head>

<body>

<h1 class="page-title">OTJ Log</h1>

<a class="download-button" href="/download-otj">
    Download CSV
</a>

<table class="otj-table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Description</th>
            <th>KSBs</th>
            <th>Hours</th>
        </tr>
    </thead>

    <tbody>
      <% logs.forEach(log => { %>
          <tr>
              <td>
                  <%= log.date.split("-").reverse().join("/") %>
              </td>
              <td>
                  <%= log.description %>
              </td>
              <td>
                  <%= log.ksbs %>
              </td>
              <td>
                  <%= log.hours %>
              </td>
          </tr>
      <% }); %>
  </tbody>
</table>

</body>
</html>