<%- include('partials/head') %>
<%- include('partials/nav') %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <link rel=StyleSheet href="./stylesheets/style.css" type="text/css">

    <title>OTJ Log</title>
  </head>



<table>
    <tr>
        <th>Date</th>
        <th>Description</th>
        <th>Hours</th>
    </tr>

    <% logs.forEach(log => { %>
        <tr>
            <td><%= log.date %></td>
            <td><%= log.description %></td>
            <td><%= log.hours %></td>
        </tr>
    <% }) %>

</table>